[alias]
	a = add
	b = branch
	br = branch
	c = commit
	cehckout = checkout
	chcekout = checkout
	checkotu = checkout
	checkuot = checkout
	chekcout = checkout
	ck = checkout
	f = fetch
	p = pull
	pl = pull
	ps = push
	pf = push --force-with-lease
	s = status
	st = status
	stauts = status
	sw = switch

	# Lists all unpushed commits
	out = log @{u}..

	# List aliases.
	aliases = config --get-regexp alias

	# Undo Commit; leaves files. Only for non-public commits
	uncommit = reset --soft HEAD^

	# Commit messages
	msg = log --color=never --no-decorate --format="%s"

	# Graphs
	## https://stackoverflow.com/a/24186641
	clog = log --oneline --decorate --left-right --graph
	## https://stackoverflow.com/a/35075021
	adog = log --all --decorate --oneline --graph
	## https://stackoverflow.com/a/34467298
	lg = lg1
	lg1 = lg1-specific --all
	lg2 = lg2-specific --all
	lg3 = lg3-specific --all
	lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

[branch]
	# Show most recently changed branches first.
	sort = -committerdate
[color]
	ui = always
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[column]
	ui = auto
[core]
	autocrlf = input
	editor = nvim
	pager = delta
	longpaths = true
[credential]
	helper = manager
[delta]
	features = decorations
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = true
	line-numbers = true
[diff]
	algorithm = histogram
	colorMoved = default
	mnemonicPrefix = true
	renames = true
	tool = neovim
[difftool "neovim"]
	cmd = nvim -d $LOCAL $REMOTE
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	# Automatically correct and execute mistyped commands.
	autoCorrect = 1
[http]
	sslverify = true
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[log]
	date = iso-local
[merge]
	tool = neovim
	conflictstyle = zdiff3
[mergetool]
	keepBackup = false
[mergetool "neovim"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "vscode"]
	cmd = code --wait -m $LOCAL $REMOTE $BASE $MERGED
[pull]
	rebase = true
[push]
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = current
	autoSetupRemote = true
	followTags = true
[rebase]
  autoStash = true
[rerere]
	enabled = true
	autoupdate = true
[safe]
	directory = *

# Selectively load specific config depending on remote
# https://gist.github.com/bgauduch/06a8c4ec2fec8fef6354afe94358c89e
# https://blog.gitguardian.com/8-easy-steps-to-set-up-multiple-git-accounts/
# https://git-scm.com/docs/git-config#_conditional_includes
# [includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
#     path = .gitconfig.github

# Local config
[include]
	path = ~/.gitconfig.local
