[user]
	name = 
	email = 
[push]
	default = current
[core]
	editor = vim
	pager = less -r
	autocrlf = true
	filemode = false
[color]
	ui = always
[alias]
	poush = push
	stauts = status
	s = status
	st = status
